---

import Layout from "../layouts/Layout.astro";
import LayoutDashboard from "../layouts/LayoutDashboard.astro";

---

<LayoutDashboard title="inicio">
    <h3 id="prueba" class="">Contenido cabronsito</h3>
</LayoutDashboard>


<script>
    
</script>